@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    width:100%;
    min-height: 70vh;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 2px 16px;
    border-top: 0.5rem solid #203e70;
    position: fixed;
    top:0;
    width:100%;
}
.navbar_toggle{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.logo {
    width: 120px;
    height: auto;
}
  
  /* Navbar List Styles */
.navlinks {
    display:block;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
  
.navlinks ul li {
    margin: 0 20px; 
    display:inline-block;
    text-transform: uppercase;
}
.navlinks ul a {
    text-decoration: none;
    color: #333333;
    font-size:16px;
    padding: 8px 16px;
    color:#203e70;
}

.navlinks ul a.active, ul a:hover {
    background: #203e70;
    color:white;
    transition:0.5s;
}


 .register{
    display: inline-block;
    /* border:1.5px solid #203e70; */
    padding: 0.9rem 1rem;
    border-radius: 5px;
    margin-right: 2rem;
    background-color:#203e70;
    color:white;
    text-decoration: none;
 }

.register:active{
    color:#85acf0;
}
.values ul li{
    margin-left: 2rem;
}
.footer{
    background-color: #333;
    color:#fff;
    width:100%;
 }
 .foot_logo img{
    height: 5rem;
 }
.footer{
   display: flex;
   justify-content: space-evenly;
   padding:3rem;
}
.footer ul{
   list-style-type: none;
   font-size: 16px;
   line-height: 1.5;
}
.footer ul li:nth-child(1){
   margin-bottom: 0.5rem;
}
.subscribe{
   font-size:16px;
   line-height: 2;
}
.mail{
   width:10rem;
   height:2rem;
   padding: 0 1rem;
}
.subscribe .sub{
   display:inline-block;
   background-color:rgb(41,165,203) ;
   color:white;
   padding:0.1rem 1rem;
}
section {
    margin: 1rem rem;
    line-height: 2;
}

section h2 {
	margin-top:1rem;
    color: #203e70;
}
.author{
    font-weight:bold;
    font-style: italic;
    padding-bottom: 1rem;
}
@media only screen and (max-width: 600px){
    
    .header{
        padding: 2px 8px;
        min-width:100%;
    }
    main{
        margin-top: 2rem;
    }
    .logo {
        width: 100px;
        height: auto;
    }
    
      .navbar-menu li a{
        color:#fff;
        font-size:12px;
        }
        
        .navbar-menu{
           float:none;
           display: flex;
           position: fixed;
           z-index: 9;
           left:0;
           height: auto;
           width:auto;
           background-color: rgba(0, 0, 0, 0.8);
           right:0;
           flex-direction: column;
           top:50px;
           bottom: 100%;
           overflow: hidden; 
           justify-content: space-around;
           align-items: center;
           transition: all 0.5s ease-in-out;
        }
        .navbar-menu.active{
           bottom:0;
        }
       
        .navbar_toggle{
           cursor: pointer;
           display: block;
            margin-right:1rem;
            color:#203e70;
          }
    .register{
        margin-left: 6.5rem;
        padding: 8px;
        font-size: 12px;
        
      }
    
    .footer{
        display: flex;
        justify-content:space-between;
        padding:2rem 1rem ;
        background-color: #333;
        color:#fff;
        /*  width:100%; */
     }
     
     .foot_logo img{
        width:3.5rem;
        height:auto;
        background-color: #fff;
     }
     .company ul .support ul{
        width:20%;
        font-size: 6px;
     }
     .footer ul{
        font-size: 12px;
        line-height: 1.5;
     }
     .subscribe{
        font-size:12px;
        line-height: 1.5;
        width:30%;
        margin-right: 0.5rem;
     }
     .mail{
        width:7rem;
        height:1.2rem;
        padding:0rem;
        margin: 0.5rem 0rem;
     }
     section {
        line-height: 1.5;

    }
    }
@media only screen and (max-width: 360px){
   .register{
      margin-left: 5rem;
      padding: 8px;
      font-size: 12px;
      
    }
  }
