@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    /* width:100%; */
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 2px 16px;
    border-top: 0.5rem solid #203e70;
    position: fixed;
    top:0;
    width:100%;
}
.navbar_toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.logo {
    width: 120px;
    height: auto;
}
  
  /* Navbar List Styles */
.navlinks {
    display:block;
}
  
.navbar-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
  
.navlinks ul li {
    margin: 0 20px; 
    display:inline-block;
    text-transform: uppercase;
}
.navlinks ul a {
    text-decoration: none;
    color: #333333;
    font-size:16px;
    padding: 8px 16px;
    color:#203e70;
}

.navlinks ul a.active, ul a:hover {
    background: #203e70;
    color:white;
    transition:0.5s;
}


 .register{
    display: inline-block;
    /* border:1.5px solid #203e70; */
    padding: 0.9rem 1rem;
    border-radius: 5px;
    margin-right: 2rem;
    background-color:#203e70;
    color:white;
    text-decoration: none;
 }

.register:active{
    color:#85acf0;
}

.register p{
    display:flex;
    margin:0 2em;
 }
 .container1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:3rem 0;
    margin-bottom: 1rem;
 }
 .container1 .image{
    max-width: 70%;
 }
 .image img{
   width:100%;
   height:100%;
 }
 .container1 p{
    flex:1;
    font-size: 18px;
    line-height: 2;
    justify-content: center;
 } 
 .container2{
    margin:6rem 3rem;
    text-align: center;
 }
 .container2 p{
    font-size: 18px;
    line-height: 1.5;
 }
 .sec .image{
   padding-left: rem;
   
 }
 

 .list{
    line-height: 2;
    margin: 2rem 4rem;
    list-style:square;
    font-size:18px ;
 }
 .list ul li:before {
    color: orange;
  }
 .container2 h3{
    display:inline-block;
    background-color: #203e70;
    color:white;
    padding:1rem;
    margin:1rem auto;
    font-size: 1rem;
 }
 .book span {
    font-size: 2rem;
    color: rgb(41,165,203);
}
 .book a{
    text-decoration: none;
    display:inline-block;
    border:none;
    background-color: orange;
    color:white;
    padding:1rem;
    margin:2rem auto;
    font-size: 1rem;
 }
 .book a:active{
   border: none;
   padding:1.5rem 2rem;
   background-color: rgb(250, 192, 84);
 }
 .book{
    font-size: 18px;
    font-weight: bold;
    max-width: 45%;
    text-align: center;
    margin:auto;
    border: 1px dashed;
    border-radius: 5px;
    padding: 1rem;
 }
 .footer{
    background-color: #333;
    color:#fff;
    width:100%;
 }
 .foot_logo img{
    height: 5rem;
 }
.footer{
   display: flex;
   justify-content: space-evenly;
   padding:3rem;
}
.footer ul{
   list-style-type: none;
   font-size: 16px;
   line-height: 1.5;
}
.footer ul li:nth-child(1){
   margin-bottom: 1rem;
}
.subscribe{
   font-size:16px;
   line-height: 2;
}

.mail{
   width:10rem;
   height:2rem;
   padding: 0 1rem;
}
.subscribe .sub{
   display:inline-block;
   background-color:rgb(41,165,203) ;
   color:white;
   padding:0.1rem 1rem;
}
#steps{
   display:flex;
   flex-direction: column;
   justify-content:center;
   max-width: 80%;
   line-height: 2;
   word-wrap: break-word;
    margin: 5rem;
}
#steps h2{
   margin: 0 auto;
   color: #203e70;
   margin-bottom: 1rem;
}
#steps ol li a {
   color: rgb(41,165,203);
   text-decoration: none;
}
.navbar_toggle{
   display: none;
}
#navbar_toggle1{
   display:none;
}
  /* MOBILE DEVICE */
   @media only screen and (max-width: 600px){
   
      .header{
          padding: 2px 8px;
          min-width:100%;
      }
      main{
         margin-top: 2rem;
     }
      .logo {
          width: 100px;
          height: auto;
      }
      
      .navbar-menu li a{
      color:#fff;
      font-size:12px;
      }
      
      .navbar-menu{
         float:none;
         display: flex;
         position: fixed;
         z-index: 9;
         left:0;
         height: auto;
         width:auto;
         background-color: rgba(0, 0, 0, 0.8);
         right:0;
         flex-direction: column;
         top:50px;
         bottom: 100%;
         overflow: hidden; 
         justify-content: space-around;
         align-items: center;
         transition: all 0.5s ease-in-out;
      }
      .navbar-menu a:hover{
         font-size: 18px;
      }
      .navbar-menu.active{
         bottom:0;
      }
     
      .navbar_toggle{
         cursor: pointer;
         display: block;
          margin-right:1rem;
          color:#203e70;
        }
        /* #navbar_toggle :checked ~ #navbar-menu{
         bottom:0;
        } */
      .register{
          margin-left: 6.5rem;
          padding: 8px;
          font-size: 12px;
          
        }
      .footer{
          display: flex;
          justify-content:space-between;
          padding:2rem 1rem ;
          background-color: #333;
          color:#fff;
          /*  width:100%; */
       }
       
       .foot_logo img{
          width:3.5rem;
          height:auto;
          background-color: #fff;
       }
       .company ul .support ul{
          width:20%;
          font-size: 6px;
       }
       .footer ul{
          font-size: 12px;
          line-height: 1.5;
       }
       .subscribe{
          font-size:12px;
          line-height: 1.5;
          width:30%;
          margin-right: 0.5rem;
       }
       .mail{
          width:7rem;
          height:1.2rem;
          padding:0rem;
          margin: 0.5rem 0rem;
       }
      
       .list{
         line-height: 2;
         margin: 1rem 2rem;
         list-style:square #203e70;
         font-size:14px ;
   
      }
       .container1{
         display: flex;
         flex-direction: column;
         font-size: 12px;
         margin-top: 1rem;
       }
       .image{
         width:80%;
       }
       .sec img{
         order: 1;
         margin-bottom: 2rem;
       }
       .content{
         order:2;
       }
       .container1 p, .container2 p{
         font-size: 14px;
       }
       .container2{
         margin:2rem 1rem;
         text-align: center;
      }
      .book{
         font-size: 16px;
        line-height: 1.5;
         max-width: 90%;
      }
      .book span {
         font-size: 1rem;
      }
      .book a{
         text-decoration: none;
         display:inline-block;
         border:none;
         background-color: orange;
         color:white;
         padding:0.5rem 1rem;
         margin:2rem auto;
         font-size: 14px;
      }
      #steps{
         max-width: 100%;
         line-height: 2;
          margin: 2rem;
          font-size: 14px;
      }
      #steps h2{
         width: 100%;
         line-height: 1.5;
         margin-bottom: 1rem;
      }
      .header{
         position: fixed;
         top:0;
      }
      

/* ------------------------------- */
      
  }
